<h2 id="section-advanced"><%= t('help.advanced.title_html') %></h2>
<h3><%= t('help.advanced.base_map.title_html') %></h3>
<p><%= image_tag "help/base-map-toggle.png", alt: "hubzone base map switcher", style: "float: left; width: 25rem; padding-right: 1rem;" %>
<%= t('help.advanced.base_map.body_html') %></p>
<h3><%= t('help.advanced.zoom.title_html') %></h3>
<p><%= image_tag "help/zoom-control.png", alt: "map zoom control icon", style: "width: 4.5rem; float: left; padding-right: 1rem;" %>
<%= t('help.advanced.zoom.body_html') %></p>
<h3><%= t('help.advanced.street_view.title_html') %></h3>
<p><%= image_tag "help/pegman.png", alt: "map stret view icon", style: "width: 4.5rem; float: left; padding-right: 1rem;" %>
<%= t('help.advanced.street_view.body_html') %></p>
<h3><%= t('help.advanced.my_location.title_html') %></h3>
<%= image_tag "help/geolocation.png", alt: "map my location geolocation icon", style: "width: 4.5rem; float: left; padding-right: 1rem;" %>
<p><%= t('help.advanced.my_location.body_html') %></p>
<h4><%= t('help.advanced.my_location.section_one_title') %></h4>
<p><%= t('help.advanced.my_location.section_one_body') %></p>
<%= image_tag "help/geolocation-prompt.png", alt: "geolocation access prompt", style: "max-width: 35rem; padding-right: 1rem;" %>
<ul><li><%= t('help.advanced.my_location.section_one_list') %></li></ul>
<p>If you previously selected “Don’t Allow / Block”. The map will not be able to show your current location by default. You can change this by following these instructions. {Link to google help page on enabling browser https://support.google.com/maps/answer/2839911}</p>
<h4>Errors in finding your location</h4>
<p>Occasionally, the HUBZone map is unable to determine your location even when you granted permission. In this case, try reloading the page. If the problem persists, try entering your address in and searching instead.</p>
