<!DOCTYPE html>
<html>
<head>
<%= javascript_include_tag("report") %>
<%= stylesheet_link_tag 'map-report', media: 'all' %>
</head>
<body onload="loadPage()">
<%= image_tag("sba-logo.png", id: "sba-logo", alt: "U.S. Small Business Administration logo") %>

<div id="maps">
<%= image_tag("", id: "qct-image", alt: "qct") %>
<%= image_tag("", id: "marker", alt: "marker") %>
<%= image_tag("", id: "qnmc-image", alt: "qnmc") %>
<%= image_tag("", id: "il-image", alt: "il") %>
<%= image_tag("", id: "map-image", alt: "map") %>
</div>

</body>
</html>
