<!DOCTYPE html>
<html>
<head>
<%= wicked_pdf_javascript_include_tag 'report' %>
<%= wicked_pdf_stylesheet_link_tag 'map-report', media: 'all' %>

</head>
<body onload="loadPage()">
<%= wicked_pdf_image_tag("sba-logo.png", id: "sba-logo", alt: "U.S. Small Business Administration logo") %>

<div id="maps">
<%= wicked_pdf_image_tag("", id: "qct-image", alt: "qct") %>
<%= wicked_pdf_image_tag("", id: "marker", alt: "marker") %>
<%= wicked_pdf_image_tag("", id: "qnmc-image", alt: "qnmc") %>
<%= wicked_pdf_image_tag("", id: "il-image", alt: "il") %>
<%= wicked_pdf_image_tag("", id: "map-image", alt: "map") %>
</div>

</body>
</html>
